.c-button{
    background: var(--backgroundColor-30);
    border: none;
    border-radius: var(--borderRadius);
    color: var(--fontColor);
    display: inline-block;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;

    @include tablet{
        font-size: 1.2rem;
        padding: 1.5rem;
    }

    &[data-augmented-ui ~='border']{
        --aug-border-bg: var(--primaryColor-30);
        --aug-br: .6rem;
        --aug-tr: .5rem;
        --aug-tr-inset2: 80%;
    }

    &:hover{
        background: var(--primaryColor-10);

        &[data-augmented-ui ~='border']{
            --aug-border-bg: var(--primaryColor);
        }
    }
}

.c-buttonGroup{
    display: flex;
    gap: 1rem;
}